@import "tailwindcss";

/* Opcional: Estilo de scrollbar cálido */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #F9F5F0; }
::-webkit-scrollbar-thumb { background: #d6d3d1; border-radius: 10px; }